version: '3.8'

services:
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://WatsonMLDev:52515007@db:5432/househunter
    depends_on:
      - db
    volumes:
      - .:/app

  db:
    image: postgis/postgis:15-3.3
    restart: always
    environment:
      POSTGRES_USER: WatsonMLDev
      POSTGRES_PASSWORD: 52515007
      POSTGRES_DB: househunter
    ports:
      - "5433:5432"
    volumes:
      - hunter_postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer:4
    restart: always
    ports:
      - "8080:8080"

volumes:
  hunter_postgres_data:
